@media (max-width: 1260px) {
    header {
        h1:first-child {
            padding-top: 300px;
            padding-bottom: 40px;
        }
        h1:nth-child(2) {
            padding-bottom: 50px;
        }
    }
    main {
        section {
            position: relative;
        }

        h2 {
            margin-top: 30px;
            font-size: 2.3rem;
        }

        .movieRating1,
        .movieRating2 {
            display: inline-block;
            bottom: 0px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0px 10px;
            font-size: 4rem;
        }


    }


}

@media (max-width: 800px) {
    header {
        height: 100vh;

        .explosion {
            height: 100%;

            h1:first-child {
                padding-top: 200px;
                padding-bottom: 20px;
            }
            h1:nth-of-type(2) {
                margin-left: 50vw;
                padding-top: 22px;
            }
        }
    }


    .clickable .animateResponse .answerIcon {
        height: 100%;
        line-height: 300px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 98%;
    }

    header {
        max-height: 60vh;

        .explosion {  
            height: 90%;

            h1 {
                font-size: 3rem;
            }

            h1:first-child {
                height: 40%;
                padding-top: 150px;
                margin-right: 40vw;
            }

            h1:nth-of-type(2) {
                margin-left: 50vw;
            }
            
            button {
                margin-bottom: 30px;
            }

            i {
                display: none;
            }
        }
    }

    main {
        height: 100%;
        margin-top: 40px;

        section {
            position: relative;
            max-height: 350px;
        }

        h2 {
            margin: 0px;
            padding: 0px;
            font-size: 1.5rem;
        }

        .movieArea {
            margin-top: 80px;
        }

        .movieRating1,
        .movieRating2 {
            font-size: 3rem;
        }

        .scoreRound {
            margin-top: 5%;
        }
    }
}