@import "setup";

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

// putting all styles here for now
header {
    height: 100vh;
    text-align: center;

    h1 {
        font-size: 4rem;
        top: 500px;
        padding-top: 20%;
        margin-bottom: 20px;
    }

    button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        display: inline-block;
        background: black;
        color: white;
    }
}

main {
    height: calc(100vh - 50px); 
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        background: black;
        color: white;
        display: block;
        padding: 15px 25px;
        margin: 45px auto;
        font-size: 1.8rem;
    }
    img {
        max-height: 500px;
        width: 100%;
    }
    p {
        position: absolute;
        font-size: 7rem;
    }
    p.movieRating1 {
        left: 10%;
    }
    p.movieRating2 {
        right: 10%;
    }
}

footer {
    height: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}


// Font Awesome and game area div styling
.movieArea1,
.movieArea2 {
    position: relative;

    .animateResponse1,
    .animateResponse2 {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;

        .answerIcon1,
        .answerIcon2 {
            display: none;
            font-size: 5rem;
            text-align: center;
            width: 100%;
            line-height: 500px;
        }
    }
}

.wrongResponse {
    display: none;
    background-color: rgba(255, 0, 0, 0.2);

    i {
        color: red;
    }
}

.correctResponse {
    display: none;
    background-color: rgba(30, 255, 0, 0.3);


    i {
        font-size: 5rem;
        text-align: center;
        width: 100%;
        line-height: 500px;
        color: green;
    }
}

.displayIcons {
    display: inline-block !important;
}